<!DOCTYPE html>
<html>

<head>
    <title>
        Slack Page
    </title>
    <meta charset='utf-8' />

    <link rel='apple-touch-icon' sizes='180x180' href='/public/fav/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/public/fav/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/public/fav/favicon-16x16.png' />
    <link rel='manifest' href='/public/fav/site.webmanifest' />
    <link rel='mask-icon' href='/public/fav/safari-pinned-tab.svg' color='#5bbad5' />
    <meta name='msapplication-TileColor' content='#da532c' />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />


    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

    <div class='page'>
        <section class="page_section">
            <div class='page_content hero_section'>

                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_label">Slack Features</span>
                        <h1 class="hero_title">One platform for your team and your work</h1>
                        <p class="hero_info double_line">All the features of Slack work together so you can, too.</p>
                        <div class="hero_buttons">
                            <a href="#" class="button button_primary click">Try for free</a>
                            <a href="#" class="button button_secondary click">See all features</a>
                        </div>
                        <img src="/Img/hero.png" alt="Slack Preview" class="hero_image">
                    </div>
                </div>



                <div class="brands">
                    <img src="/Img/brands/airbnb.png" alt="airbnb logo" class="brands_image">
                    <img src="/Img/brands/target.png" alt="target logo" class="brands_image">
                    <img src="/Img/brands/uber.png" alt="uber logo" class="brands_image">
                    <img src="/Img/brands/onemedical.png" alt="onemedical logo" class="brands_image">
                    <img src="/Img/brands/newscorp.png" alt="newscorp logo" class="brands_image">
                    <img src="/Img/brands/va.png" alt="U.S. Department of Veteran Affairs logo" class="brands_image">
                    <img src="/Img/brands/intuit.png" alt="intuit logo" class="brands_image">
                    <img src="/Img/brands/sonos.png" alt="sonos logo" class="brands_image">
                </div>
            </div>
        </section>

        <section class="page_section page_background">
            <img src="/Img/puzzle.png" alt="puzzle" class="image">
            <div class='page_content features_section'>
                <h2 class="features_title double_line">Work more easily with everyone</h2>
                <p class="features_info double_line">Stay on the same page and make decisions faster by bringing all of
                    your work
                    communication into one place.</p>

                <div class="features_grid_4">
                    <div class="features_card">
                        <span class="card_icon feat_icon"
                            style="background-image: url('/svg/feature/connect.svg')"></span>
                        <strong>Slack Connect</strong>
                        <p class="double_line">Collaborate with teams at other companies the same way you do with teams
                            at
                            your own.</p>
                        <a href="#" class="card_icon icon_arrow click card_link"></a>
                    </div>

                    <div class="features_card">
                        <span class="card_icon feat_icon"
                            style="background-image: url('/svg/feature/channels.svg')"></span>
                        <strong class="card_title">Channels</strong>
                        <a href="#" class="card_icon icon_arrow click card_link"></a>
                    </div>

                    <div class="features_card">
                        <span class="card_icon huddles_icon"
                            style="background-image: url('/svg/feature/huddles.svg')"></span>
                        <strong class="card_title">Huddles</strong>
                        <a href="#" class="card_icon icon_arrow click card_link"></a>
                    </div>

                    <div class="features_card">
                        <span class="card_icon clips_icon"
                            style="background-image: url('/svg/feature/clips.svg')"></span>
                        <strong class="card_title">Clips</strong>
                        <a href="#" class="card_icon icon_arrow click card_link"></a>
                    </div>

                    <div class="features_card">
                        <span class="card_icon canvas_icon"
                            style="background-image: url('/svg/feature/canvas.svg')"></span>
                        <strong class="card_title">Canvas</strong>
                        <a href="#" class="card_icon icon_arrow click card_link"></a>
                    </div>

                    <div class="features_card">
                        <span class="card_icon messages_icon"
                            style="background-image: url('/svg/feature/messages.svg')"></span>
                        <strong class="card_title">Messaging</strong>
                        <a href="#" class="card_icon icon_arrow click card_link"></a>
                    </div>

                    <div class="features_card">
                        <span class="card_icon feat_icon"
                            style="background-image: url('/svg/feature/access.svg')"></span>
                        <strong class="card_title">Accessibility</strong>
                        <a href="#" class="card_icon icon_arrow click card_link"></a>
                    </div>
                </div>

            </div>
        </section>
    </div>

    </div>

</body>

</html>