<div class="articles_card">
    <img src="{{photo}}" alt="random photo" class="articles_img">
    <h4 class="articles_item_title">{{name}}</h4>
    <p class="articles_description">{{description}}</p>
    <a href="#" id="{{id}}" class="articles_item_link pop-on-hover">Read All</a>
</div>